h4{
    color: tomato;
    padding: 15px;
}
body{
    background-color: #d2a679;
}
.card{
    background-color: #f9f2ec;
    width: 600px;
    height: 400px;
}
.btn{
    width: 120px;
    color: tomato;
}

.btn-con{
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}
.txt{
    width: 250px;
    height: 50px;
}

.txts{
    width: 165px;
}

.panget{
    display: grid;
    justify-content: center;

}

.inputs {
    padding-left: 13rem;
    padding-right: 13rem;
}

.container {
    max-width: 660px!important;
    margin-top: 10rem;
}
